## Outlier Engineering

We will perform **capping with arbitrary values** using the Titanic dataset!

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from feature_engine.outliers import ArbitraryOutlierCapper

**Function to load the titanic dataset!..**

In [2]:
def load_titanic():
    data = pd.read_csv('../titanic.csv')
    data['cabin'] = data['cabin'].astype(str).str[0]
    data['pclass'] = data['pclass'].astype('O')
    data['embarked'].fillna('C', inplace=True)
    return data

In [3]:
data = load_titanic()
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

## ArbitraryOutlierCapper

The **ArbitraryOutlierCapper** caps the **minimum and maximum values** by a value determined by the user.

**Find out the maximum Age and maximum Fare in the titanic!**

In [4]:
data.age.max(), data.fare.max()

(80.0, 512.3292)

In [5]:
capper = ArbitraryOutlierCapper(max_capping_dict={'age': 50, 'fare': 200},
                                min_capping_dict=None)
capper.fit(data.fillna(0))

ArbitraryOutlierCapper(max_capping_dict={'age': 50, 'fare': 200})

In [6]:
capper.right_tail_caps_

{'age': 50, 'fare': 200}

In [7]:
capper.left_tail_caps_

{}

In [8]:
temp = capper.transform(data.fillna(0))
temp.age.max(), temp.fare.max()

(50.0, 200.0)

### Minimum capping

In [9]:
capper = ArbitraryOutlierCapper(max_capping_dict=None,
                                min_capping_dict={'age': 10, 'fare': 100})
capper.fit(data.fillna(0))

ArbitraryOutlierCapper(min_capping_dict={'age': 10, 'fare': 100})

In [10]:
capper.variables_

['age', 'fare']

In [11]:
capper.right_tail_caps_

{}

In [12]:
capper.left_tail_caps_

{'age': 10, 'fare': 100}

In [13]:
temp = capper.transform(data.fillna(0))

temp.age.min(), temp.fare.min()

(10.0, 100.0)

### Both ends capping

In [14]:
capper = ArbitraryOutlierCapper(max_capping_dict={
    'age': 50, 'fare': 200},
    min_capping_dict={
    'age': 10, 'fare': 100})

capper.fit(data.fillna(0))

ArbitraryOutlierCapper(max_capping_dict={'age': 50, 'fare': 200},
                       min_capping_dict={'age': 10, 'fare': 100})

In [15]:
capper.right_tail_caps_

{'age': 50, 'fare': 200}

In [16]:
capper.left_tail_caps_

{'age': 10, 'fare': 100}

In [17]:
temp = capper.transform(data.fillna(0))

temp.age.min(), temp.fare.min()

(10.0, 100.0)

In [18]:
temp.age.max(), temp.fare.max()

(50.0, 200.0)

## Feature-engine

We can also automate this process with Feature-engine:
https://feature-engine.readthedocs.io/en/latest/outliers/ArbitraryOutlierCapper.html